<div class="container">

  <div class="headers">
    <span class="header" style="padding-left: 4vh; width: 20%;">Mes</span>
    <span class="header" style="width: 10%;">Dia</span>
    <span class="header" style="width: 12%;">Año</span>
    <span class="header" style="width: 20%;">Descripcion</span>
  </div>

  <div class="histories">

    <div class="row">
      <div class="collapsible" (click)="showCardContent('1')" id="1">
        <div class="collapsible-header">
          <span class="text edge" style="width: 20%;">Febrero</span>
          <span class="text" style="width: 10%;">13</span>
          <span class="text" style="width: 12%; border-right: 3px solid #0093AB;">2012</span>
          <span class="text edge" style="width: 45%;">Medicina General</span>
        </div>
      </div>
      <div class="content" id="1Content"></div>
    </div>

    <div class="row">
      <div class="collapsible" (click)="showCardContent('2')" id="2">
        <div class="collapsible-header">
          <span class="text edge" style="width: 20%;">Febrero</span>
          <span class="text" style="width: 10%;">13</span>
          <span class="text" style="width: 12%; border-right: 3px solid #0093AB;">2012</span>
          <span class="text edge" style="width: 45%;">Medicina General</span>
        </div>
      </div>
      <div class="content" id="2Content"></div>
    </div>

    <div class="row">
      <div class="collapsible" (click)="showCardContent('3')" id="3">
        <div class="collapsible-header">
          <span class="text edge" style="width: 20%;">Febrero</span>
          <span class="text" style="width: 10%;">13</span>
          <span class="text" style="width: 12%; border-right: 3px solid #0093AB;">2012</span>
          <span class="text edge" style="width: 45%;">Medicina General</span>
        </div>
      </div>
      <div class="content" id="3Content"></div>
    </div>

    <div class="row">
      <div class="collapsible" (click)="showCardContent('4')" id="4">
        <div class="collapsible-header">
          <span class="text edge" style="width: 20%;">Febrero</span>
          <span class="text" style="width: 10%;">13</span>
          <span class="text" style="width: 12%; border-right: 3px solid #0093AB;">2012</span>
          <span class="text edge" style="width: 45%;">Medicina General</span>
        </div>
      </div>
      <div class="content" id="4Content"></div>
    </div>

    <div class="row">
      <div class="collapsible" (click)="showCardContent('5')" id="5">
        <div class="collapsible-header">
          <span class="text edge" style="width: 20%;">Febrero</span>
          <span class="text" style="width: 10%;">13</span>
          <span class="text" style="width: 12%; border-right: 3px solid #0093AB;">2012</span>
          <span class="text edge" style="width: 45%;">Medicina General</span>
        </div>
      </div>
      <div class="content" id="5Content"></div>
    </div>

  </div>

</div>
