.searchBar{
  display: inline-block;
  /* border: 1px solid green; */
  margin-top: auto;
  margin-bottom: auto;
  background-color: #F5F5F5;
  margin-left: 10vh;
  margin-right: 10vh;
  border-radius: 0% 50px 50px 0%;
  /* margin: 0px 0px 0px 0px; */
}

.userInfo{
  display: inline-block;
  /* width: 29%; */
  /* border: 1px solid red; */
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.userImage{
  display: inline-block;
  /* width: 10%; */
  /* border: 1px solid blue; */
}

.searchInput{
  display: inline-block;
  width: 95.4%;
  /* border: 1px solid red; */
  height: 3.5vh;
  border-radius: 0% 50px 50px 0%;
  padding-left: 4vh;
  border: none;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


span{
  display: inline-block;
  width: 100%;
  /* border: 1px solid blue; */
  text-align: end;
}


.container{
  display: grid;
  grid-template-columns: auto 200px 120px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  /* border: 3px solid black; */

}

.imgCont{
  background-color: #00AFC1;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 10px;
}

img{
  margin: 25px;
  border-radius: 100px;
}
