
<mat-card style="padding: 20px;">
    <h1 style="text-align: center;">Crear historia clinica</h1>
    <div style="margin-left: 30%">
        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Datos Paciente</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 20px;">
                    <h3 style="margin: 0; font-weight: bold;">Nombre</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>
                <div style="margin-left: 40px; margin-top: 20px;">
                    <h3 style="margin: 0; font-weight: bold;">Identificación</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>  
            </form>
        </mat-card>

        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Motivo de la consulta</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 20px;">
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>  
            </form>
        </mat-card>

        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Examen Fisico Inicial</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Peso</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Estatura</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Observaciones</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>
            </form>
        </mat-card>

        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Diagnostico de ingreso</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Tipo de diagnostico</h3>
                    <input style="width: 93%; height: 30px;" type="text" placeholder="Seleccione una opción">
                </div>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Observaciones</h3>
                    <input style="width: 93%; height: 30px;" type="text" >
                </div>
            </form>
        </mat-card>

        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Examenes paraclinicos</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Descripción</h3>
                    <textarea name="desc" id="" cols="30" rows="5" style="width: 93%;"></textarea>
                </div>
                
            </form>
        </mat-card>

        <mat-card class="cards">
            <mat-card-header style="background-color: #37BBED;">
                <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Diagnostico concreto</mat-card-title>
            </mat-card-header>
            
            <form>
                <div style="margin-left: 40px; margin-top: 10px;">
                    <h3 style="margin: 0; font-weight: bold;">Descripción</h3>
                    <textarea name="desc" id="" cols="30" rows="5" style="width: 93%;"></textarea>
                </div>
                
            </form>
        </mat-card>
        <mat-card-actions style="margin-top: 20px;">
            <button mat-stroked-button color="warn" style="margin-left: 300px;">Cancelar</button>
            <button mat-stroked-button color="accent" style="margin-left: 10px;">Guardar</button>
        </mat-card-actions>
        
    </div>

</mat-card>