
<mat-card style="padding: 20px;">
    <h1 style="text-align: center;">Historias clinicas</h1>
    <div style="margin-left: 30%">
        <mat-card class="cards">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: bold;">
                      21/02/2022
                    </mat-panel-title>
                    <mat-panel-description style="font-weight: bold;">
                      Urgencias
                    </mat-panel-description>
                  </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel style="margin-top: 10px;">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: bold;">
                      12/09/2022
                    </mat-panel-title>
                    <mat-panel-description style="font-weight: bold;">
                      Medicina general
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p>(id)</p>
                  <div style="margin-left: 10px; margin-right: 10px;">
                    <mat-card class="cards2">
                        <mat-card-header style="background-color:#D9D9D9;">
                            <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Datos paciente</mat-card-title>
                        </mat-card-header> 
                            <mat-grid-list cols="2" rowHeight="30px">
                                <mat-grid-tile><span style="font-weight: bold;">Nombre:</span>James David Rodriguez Rubio</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Dirección:</span>Calle 190 # 7 - 49 - Usaquen</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Identificación:</span> C.C. 123456789</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Departamento:</span> Distrito Capital</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Edad:</span> 31 años</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Ciudad:</span> Bogotá D.C</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Genero:</span> Masculino</mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Telefono:</span> 3126060606 </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Celular:</span> 3123456789 </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">EPS:</span> Compensar </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Estado Civil:</span> Soltero </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Fecha Ingreso:</span> 22/09/2022 13:30 </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Ocupación:</span> Futbolista Profesional </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Fecha Salida:</span> 22/09/2022 013:50 </mat-grid-tile>              
                              </mat-grid-list> 
                    </mat-card>

                    <mat-card class="cards2">
                        <mat-card-header style="background-color:#D9D9D9;">
                            <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Motivo de la consulta</mat-card-title>
                        </mat-card-header> 
                            <mat-grid-list cols="1" rowHeight="30px">
                                <mat-grid-tile>Dolor en la rodilla derecha</mat-grid-tile>        
                              </mat-grid-list> 
                    </mat-card>

                    <mat-card class="cards2">
                        <mat-card-header style="background-color:#D9D9D9;">
                            <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Examen fisico inicial</mat-card-title>
                        </mat-card-header> 
                            <mat-grid-list cols="1" rowHeight="30px">
                                <mat-grid-tile><span style="font-weight: bold;">Peso:</span> 80kg </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Estatura:</span> 180cm </mat-grid-tile>
                                <mat-grid-tile><span style="font-weight: bold;">Notas:</span> Dolor al flexionar la rodilla derecha </mat-grid-tile>        
                              </mat-grid-list> 
                    </mat-card>

                    <mat-card class="cards2">
                      <mat-card-header style="background-color:#D9D9D9;">
                          <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Diagnostico de Ingreso</mat-card-title>
                      </mat-card-header> 
                          <mat-grid-list cols="1" rowHeight="30px">
                              <mat-grid-tile><span style="font-weight: bold;">Anatomico:</span> Lesión en la rotula de la rodilla derecha </mat-grid-tile>                  
                            </mat-grid-list> 
                    </mat-card>

                    <mat-card class="cards2">
                      <mat-card-header style="background-color:#D9D9D9;">
                          <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Examenes Paraclinicos</mat-card-title>
                      </mat-card-header> 
                          <mat-grid-list cols="1" rowHeight="30px">
                              <mat-grid-tile>No aplica </mat-grid-tile>                  
                            </mat-grid-list> 
                    </mat-card>

                    <mat-card class="cards2">
                      <mat-card-header style="background-color:#D9D9D9;">
                          <mat-card-title style="margin-left: 10px; margin-top: 10px; font-weight: bold;">Diagnostico concreto</mat-card-title>
                      </mat-card-header> 
                          <mat-grid-list cols="1" rowHeight="30px">
                              <mat-grid-tile>Lesión en la rodilla </mat-grid-tile>                  
                            </mat-grid-list> 
                    </mat-card>
                  </div>
                  
            </mat-expansion-panel>
            <mat-expansion-panel style="margin-top: 10px;">
              <mat-expansion-panel-header>
                  <mat-panel-title style="font-weight: bold;">
                    11/12/2022
                  </mat-panel-title>
                  <mat-panel-description style="font-weight: bold;">
                    Urgencias
                  </mat-panel-description>
                </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-card>
    </div>

</mat-card>
