<div class="container">

    <div class="topSide">
        <div class="icon">
            <img src="../../../assets/images/caduceus-symbol.png" alt="" width="17%">
        </div>
    </div>

    <div class="middleSide">
        <ul>
            <li>
                <div routerLink="/user/historia" class="menuItem">
                    <img src="../../../assets/images/checklist.png" alt="" width="12%">
                    <span>Historia Clinica</span>
                </div>
            </li>

            <li>
                <div routerLink="/user/citas" class="menuItem">
                    <img src="../../../assets/images/calendar.png" alt="" width="12%">
                    <span>Citas</span>
                </div>
            </li>

            <li>
                <div routerLink="/user/examenes" class="menuItem">
                    <img src="../../../assets/images/blood-tube.png" alt="" width="12%">
                    <span>Examenes</span>
                </div>
            </li>

            <li>
                <div routerLink="/user/configuracion"class="menuItem">
                    <img src="../../../assets/images/settings.png" alt="" width="12%">
                    <span>Configuracion</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottomSide">
        <div class="menuItem">
            <img src="../../../assets/images/logout.png" alt="" width="10%">
            <span>Cerrar Sesion</span>
        </div>
    </div>
</div>
