<div class="container">

    <div class="topSide">
        <div class="icon">
            <img src="../../../assets/images/caduceus-symbol.png" alt="" width="17%">
        </div>
    </div>

    <div class="middleSide">
        <ul>
            <li *ngFor="let text of selectedMenu">
                <div [routerLink]="'/'+this.user.rol.nombre.toLowerCase() +'/' + text.replace(' ', '').toLowerCase()" class="menuItem">
                    <img [src]="'../../../assets/images/'+ text.replace(' ', '').toLowerCase() + '.png'" alt="" width="12%">
                    <span>{{text}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottomSide">
        <div class="menuItem">
            <img src="../../../assets/images/logout.png" alt="" width="10%">
            <span (click)="logout()">Cerrar Sesion</span>
        </div>
    </div>
</div>
