<app-header>
</app-header>
<div style="padding: 30px;">
    <!-- <button mat-stroked-button (click)="redirectToCrearHistoria()">
        crearHistoria
    </button>
    
    <button mat-stroked-button style="margin-left: 10px;" (click)="redirectToHistoria()">
        ver historia
    </button> -->
    
    <h1 style="margin-left: 10px; margin-top: 10px; font-weight: bold; text-align: center;">Bienvenido</h1>
    <h2 style="margin-left: 10px; margin-top: 10px; font-weight: bold; text-align: center;">¿Que desea hacer?</h2>

    <button mat-stroked-button color="accent" style="margin-left: 42%; display: block; width: 300px;" (click)="redirectToHistoria()">Buscar historia clinica de un ciudadano</button>
    <button mat-stroked-button color="accent" style="margin-left: 42%; margin-top: 10px; display: block; width: 300px;" (click)="redirectToCrearHistoria()">Crear historia clinica</button>

</div>

<footer></footer>