button[mat-stroked-button]{
    background-color: #2897D4;
    color: white;
    border-radius: 15px;
    font-size: 15px;
    width: 150px; 
}

.cards{
    width: 40%;
    padding: 0 0 20px 0;
    border: 1px solid #000;
    margin-left: 30%;
}

button[mat-raised-button]{
    color: #2897D4;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    box-shadow: none; 
}
