<div class="container">

    <div class="formImage">
        <img src="../../../assets/images/caduceus-symbol.png" alt="Medical Care Icon" width="200">
    </div>

    <div class="formContainer">

        <form action="">
            <div class="form-group">
                <label class="loginLabel" for="user">usuario</label><br>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label class="loginLabel" for="password">contraseña</label><br>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit">Iniciar Sesión</button>
        </form>

    </div>

    <div class="formFooter">
        <span> Necesitas ayuda? </span><a href="#">Contactanos</a>
    </div>

</div>