<div class="container">
  <div class="schedule">

    <div class="header">
      <span class="text"> <b>Agentar Cita</b> </span>
    </div>
    <div class="schedule-body">

    </div>
    <div class="footer">
      <span class="text"> <b>Agendar</b> </span>
    </div>

  </div>
  <div class="list">

    <div class="header">
      <span class="text"> <b>Lista de Citas</b> </span>
    </div>

    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>

    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>

    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>

    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>
    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>
    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>
    <div class="item">
      <div class="data"></div>
      <div class="options"></div>
    </div>


  </div>
</div>
